
body		{background-color:#99ccff}
h1		{color:red; font-family:"Comic Sans MS",cursive,sans-serif; font-size:24pt;text-align:center}
h2		{color:red; font-family:"Comic Sans MS",cursive,sans-serif; font-size:18pt;text-align:center}
h3		{color:red; font-family:"Comic Sans MS",cursive,sans-serif; font-size:14pt;text-align:right}
table {color:blue; border: solid 2px; padding: 10px}

<!-- Nelson Patrick Lauw -->
